*{
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
}

a{
    text-decoration: none;
    color: black !important;
}

#header{
    height: 23vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    letter-spacing: 3px;
}

nav{
    height: 7vh;
    border-bottom: 1px solid black;
}

.nav{
    display: flex;
    justify-content: space-around;
}

#mainHome{
    height: 68vh;
    padding-top: 20px;
}

.homeInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn{
    margin: 0px 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.homeImg{
    height: 350px;
    display: flex;
    justify-content: center;
}

img{
    height: 100%;
    border-radius: 10px;
} 

footer{
    height: 30vh;
    padding-top: 20px;
    font-size: 14px;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.emailFooter{
    padding-right: 50px;
    border-right: 1px solid black;
}

footer div p{
    text-align: center;
    font-size: 13px
}