*{
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
}

a{
    text-decoration: none;
    color: black !important;
}

#header{
    height: 23vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    height: 7vh;
}

.nav{
    display: flex;
    justify-content: space-around;
}

#mainHome{
    height: 68vh;
    padding-top: 20px;
}

.homeInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.homeImg{
    height: 350px;
}

img{
    height: 100%;
} 


footer{
    height: 30vh;
}